body {
  background-color: beige;
  margin:0;
  padding:0;
}

.container{
  width: 75%;
  margin:0 auto;
}
.navigation{
  border: 1px solid rgb(77, 66, 66);
 width:100%;
  position:fixed;
  top:0;
  background-color: #fff;
}

.links{
  display:flex;
  list-style-type: none;
 
}

.links a{
  text-decoration: none;
  padding:5px 15px;
  color: #aaa;
}
.links a:hover{
  color:#000;
}

@media(max-width:48px){
  .container{
    width: 100%;
  }
}