body {
  background-color: beige;
  margin:0;
  padding:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
  width: 75%;
  margin:0 auto;
  background-color: #fff;
}
.navigation{
  
  width:75%;
  position:fixed;
  top:0;
  background-color: #fff;
}

.navigation li{
  height: 25px;
  
}

.navigation img{
  height: 100%;
}
.links{
  display:flex;
  list-style-type: none;
  justify-content:flex-start;
  align-items: center;
}

.links li:nth-child(1){
  justify-self: flex-start;

  margin-right: auto;margin-left: 0;
}

.links a{
  text-decoration: none;
  padding:5px 15px;
  color: rgb(68, 65, 65);
}
.links a:hover{
  color:#000;
}

h2{
  margin-top:50px;
}
p{
  text-align: justify;
}
@media(max-width:48px){
  .container{
    width: 100%;
  }
}